body{
  justify-content: center; /* Alinha no centro horizontal */
  align-items: center;     /* Alinha no centro vertical */
  height: 100%;           /* Faz o body ocupar toda a altura da tela */
  margin: 0;  
  background-image: url("../imagens/fundo.jpg");
  background-repeat: no-repeat;       /* Para não repetir a imagem */
  background-size: cover;             /* Faz a imagem cobrir todo o elemento */
  background-position: center center; /* Centraliza a imagem */
  background-attachment: fixed; /* Aqui que faz ela ficar fixa */
}

.rot{
    position: fixed;
    width: 25%;
    height: 10%;
    top: 3.5vb;
    /*background-color: red;*/
}

.rotulo{
    width: 100%;
    height: 100%;
    left: 0%;
}

.posRotTexto{
    position: absolute;
    width: 77%;
    height: 75%;
    left: 4%;
    top: 12%;
}

.rotuloTexto{
  margin-top: 4%;
  font-size: 4.5vb;
}

.links{
    position: fixed;
    width: 25%;
    height: 20%;
    top: 2%;
    left: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link{
    width: 100%;
    height: 100%;
    margin: 0% 5% 0% 5%;
}

.secao{
    position: fixed;
    width: 70%;
    height: 72%;
    top: 22%;
    left: 2%;
    /*background-color: red;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.pessoa{
    position: absolute;
    width: 30%;
    height: 100%;
    left: 0%;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
}

.moldura{
    width: 100%;
    height: 100%;
}

.foto{
    position: absolute;
    top: 10%;
    width: 70%;
    height: 60%;
}

.definicao{
    position: absolute;
    width: 70%;
    height: 75%;
    top: 0%;
    right: 0%;
    /*background-color: gray;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.quadro{
    width: 100%;
    height: 100%;
}

.posTexto{
    position: absolute;
    /*background-color: gray;*/
    width: 77%;
    height: 75%;
    top: 11%;
    left: 2%;
}

.texto{
  font-size: 2.5vb;
}

.botao{
    position: absolute;
    bottom: 15%;
    right: 22%;
    width: 8%;
    height: 10%;
}

.topicos{
    position: absolute;
    width: 75%;
    height: 25%;
    bottom: 0%;
    right: 3%;
    /*background-color: pink;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.top{
    width: 13%;
    height: 80%;
    margin: 1% 3% 0% 3%;
}

.certificados{
    position: absolute;
    width: 24%;
    height: auto;
    right: 0%;
    background-color: rgb(85, 0, 170);
    align-items: center;
}

.cert{
    display: flex;
    width: 90%;
    height: 34vb;
    margin: 5% 0% 3% 5%;
    transition: transform 0.3s ease;
}

.cert:hover{
    transform: translateY(50%) translateX(-50%) scale(2);
}